body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#facebookLogin {
background-color: red;
color: purple;
text-align: center;
text-decoration: none;
border: 3px;
border-radius: 25px;
height: 30px;
width: 100px;
}